{% extends 'preferences/base.html' %}
{% block content %}
<div class="welcome-text">
    Generate the Perfect Meal Plan just for you
</div>
<div class="preferences-text">
    Tell us a little about yourself so we can choose recipes you'll love.
</div>
<div class="preferences-text1">
    We place a high value on your privacy. We ensure that your information will be kept safe and secure. This allows you to focus entirely on your objectives.
</div>
<div class="preferences-text2">
    Our approach is backed up by a dietitian who will work with you to improve your eating habits in a healthy and long-term way.
</div>
    <div class="preferences-button">
    <button>Next</button>
</div>
{% endblock content %}